/*-- scss:defaults --*/

/*-- Define colors for later use --*/

/*--
$link-color: #248CFC;
$code-color: #bb8acf;
$secondary: #505050;
--*/

/*-- Define Bootstrap color variables --*/

/*--
// Background color of inline code
$code-bg: $secondary;
--*/
// Background color of chunk code
$code-block-bg: #102028;



/*-- scss:rules --*/
.dark-mode { display: block; }
.light-mode { display: none; }

.output {
  font-size: 0.85rem;
  font-style: italic;
  font-weight: 300;
  color: #F8F810DD;
  background-color: #202020;
}