/*-- scss:defaults --*/

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/fira-code-v22-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fira-code-v22-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fira-code-v22-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/fira-code-v22-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fira-code-v22-latin-300.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fira-code-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fira-code-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fira-code-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/fira-code-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fira-code-v22-latin-regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/fira-code-v22-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fira-code-v22-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fira-code-v22-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/fira-code-v22-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fira-code-v22-latin-500.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/fira-code-v22-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fira-code-v22-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fira-code-v22-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/fira-code-v22-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fira-code-v22-latin-600.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/fira-code-v22-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''), local(''),
       url('fonts/fira-code-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fira-code-v22-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/fira-code-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fira-code-v22-latin-700.svg') format('svg'); /* Legacy iOS */
}
